.icono-tarjeta-1 {
    /* border: 2px solid red; */
    position: relative;
    z-index: 25;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 200px;
    width: 200px;
    background-image: url(../assets/img/bola-icono.svg);
    background-position: center;
    object-fit: cover;
}

/* Datos bancarios */
.datos-bancarios {
    margin-top: 0;
    padding: 0;
}

.datos-bancarios p:last-child {
    color: #bfa880;
    font-weight: 600;
    margin-right: 0;
    margin-top: 30px;
    font-family: var(--font-texto);
}

.datos-bancarios p span {
    color: #4a6360;
}

.modal-title {
    margin-bottom: 30px;
}
