.contador-section {
    height: 450px;
    position: relative;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.contenedor-ondas {
    position: absolute;
    /* border: 2px solid red; */
    height: 400px;
    /* overflow: hidden; */
    width: 100%;
    bottom: 0;
}

/* Estilo común para todas las ondas */
.onda {
    width: 100%;
    height: 500px;
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* importante para alinear bien las ondas */
}

/* Z-index para superposición */
.onda-1 {
    background-image: url("../assets/img/onda-1.svg");
    z-index: 10;
}

.onda-2 {
    background-image: url("../assets/img/onda-2.svg");
    z-index: 11;
}

.onda-3 {
    background-image: url("../assets/img/onda-3.svg");
    z-index: 12;
}

.circulo-contenedor {
    position: relative;
    /* border: 2px solid red; */
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circulo-contador {
    height: 400px;
    width: 400px;
    background-image: url("../assets/img/circulo-contador.svg");
    position: absolute;
    z-index: 14;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circulo-contador-shadow {
    z-index: 13;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 1));
}

.circulo-contador-decor {
    height: 600px;
    width: 600px;
    background-image: url("../assets/img/circulo-contador-decorador.svg");
    background-repeat: no-repeat;
    position: absolute;
    z-index: 15;
    transform: translateX(24px);
    /* filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.8)); */
}

.circulo-contador-decor-shadow {
    z-index: 13;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.contador-palabra {
    color: var(--color-7);
    font-size: 3rem;
    font-weight: 300;
    font-family: var(--font-texto);
    margin-bottom: 30px;
}

.contador-numeros-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.casillero-contador {
    width: 25%;
    border-right: 1.5px solid #86868695;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.casillero-contador:last-child {
    border-right: none;
}

.tiempo-numero {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-6);
    font-family: var(--font-texto);
    margin-bottom: 5px;
}

.tiempo-letra {
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--color-7);
    font-family: var(--font-texto);
}

.corazon {
    height: 50px;
    width: 50px;
}

.section-itinerario {
    height: 1700px;
    width: 100%;
    background-color: #efede7;
}

/* ======================== */
/* RESPONSIVO */
/* ======================== */

@media screen and (max-width: 1024px) {
    .circulo-contenedor {
        height: 320px;
        width: 320px;
    }
    .circulo-contador {
        height: 320px;
        width: 320px;
    }
    .circulo-contador-decor {
        height: 480px;
        width: 480px;
        transform: translateX(19px);
    }
    .contador-palabra {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    .casillero-contador {
        padding: 10px 20px;
    }
    .tiempo-numero {
        font-size: 2.2rem;
        margin-bottom: 5px;
    }
    .tiempo-letra {
        font-size: 1.3rem;
    }
    .corazon {
        height: 30px;
        width: 30px;
    }
}

@media screen and (max-width: 768px) {
    .circulo-contenedor {
        height: 250px;
        width: 250px;
    }
    .circulo-contador {
        height: 250px;
        width: 250px;
    }
    .circulo-contador-decor {
        height: 370px;
        width: 370px;
        transform: translateX(14px);
    }
    .contador-palabra {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .casillero-contador {
        padding: 10px 12px;
        border-right: 1px solid #86868695;
    }
    .tiempo-numero {
        font-size: 1.8rem;
        margin-bottom: 5px;
    }
    .tiempo-letra {
        font-size: 1.3rem;
    }
    .corazon {
        height: 25px;
        width: 25px;
    }
    .contador-numeros-container {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 450px) {
    .contador-section {
        height: 200px;
        margin-top: 100px;
    }
    .contenedor-ondas {
        height: 200px;
    }
    .onda {
        height: 200px;
    }
    .circulo-contenedor {
        height: 220px;
        width: 220px;
    }
    .circulo-contador {
        height: 220px;
        width: 220px;
    }
    .circulo-contador-decor {
        height: 320px;
        width: 320px;
        transform: translateX(11px);
    }
    .contador-palabra {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
    .casillero-contador {
        padding: 10px 10px;
        border-right: 0.8px solid #86868695;
    }
    .tiempo-numero {
        font-size: 1.7rem;
        margin-bottom: 5px;
    }
    .tiempo-letra {
        font-size: 1.1rem;
    }
    .corazon {
        height: 25px;
        width: 25px;
    }
    .contador-numeros-container {
        margin-bottom: 10px;
    }
}
