.dress-code-section {
    height: 1500px;
    background-color: #fcf4e6;
    /* border: 2px solid red; */
    position: relative;
    top: -10px;
}

.contenedor-ondas-3 {
    position: relative;
    /* height: 100px; */
    width: 100%;
    bottom: 50px;
    /* border: 2px solid red; */
}

.onda-7 {
    background-image: url("../assets/img/onda-7.svg");
}
