.galeria-section {
    height: 1500px;
    width: 100%;
    background-color: #ebe9e3;
    padding: 100px 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.titulo-seccion-galeria {
    margin-top: 0;
}

.icono-galeria {
    position: relative;
    top: -40px;
    height: 300px;
    width: 300px;
}

@media screen and (max-width: 768px) {
    .galeria-section {
        padding-top: 30px;
    }
}

@media screen and (max-width: 480px) {
    .icono-galeria {
        top: -20px;
        height: 200px;
        width: 200px;
    }
}
