.galeria-section {
    height: 1500px;
    width: 100%;
    background-color: #fcf4e6;
    padding: 100px 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.titulo-seccion-galeria {
    margin-top: 0;
}

.icono-galeria {
    position: relative;
    height: 300px;
    width: 300px;
}

.polaroid {
    max-width: 700px;
    width: 100%;
    height: 550px; /* tamaño total de la tarjeta */
    background-color: #fff;
    padding: 10px 10px 100px 10px; /* marco inferior */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    box-sizing: border-box; /* padding incluido en el alto total */
    display: flex;
    flex-direction: column;
}

.polaroid img {
    flex: 1; /* la imagen ocupa todo el espacio disponible */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.carrusel-container {
    position: relative;
    overflow: visible; /* ocultamos fuera del área visible */
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
}

.carrusel {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.carrusel .polaroid {
    flex: 0 0 auto;
    margin: 0 20px;
}

.carrusel-indicadores {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.carrusel-indicadores button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    background-color: #81948b;
    cursor: pointer;
}

.carrusel-indicadores button.activo {
    background-color: #3b4e4c;
    transform: scale(1.4);
}

/* ======================== */
/* RESPONSIVO */
/* ======================== */
@media screen and (max-width: 1024px) {
    .polaroid {
        max-width: 500px;
        height: 450px;
        padding-bottom: 85px;
    }
}

@media screen and (max-width: 768px) {
    .galeria-section {
        padding-top: 30px;
    }
    .polaroid {
        max-width: 450px;
        height: 400px;
        padding-bottom: 70px;
    }
    .carrusel-indicadores {
        margin-top: 50px;
        gap: 40px;
    }
}

@media screen and (max-width: 550px) {
    .carrusel .polaroid {
        margin: 0 10px; /* márgenes más pequeños en móvil */
    }
    .polaroid {
        max-width: 350px;
        height: 320px;
        padding: 7px 7px 60px 7px;
    }
}

@media screen and (max-width: 480px) {
    .icono-galeria {
        height: 200px;
        max-width: 200px;
    }
}

@media screen and (max-width: 420px) {
    .polaroid {
        max-width: 310px;
        /* width: auto; */
        height: 310px;
        padding: 5px 5px 50px 5px;
    }
}
