.section-itinerario {
    /* height: 1700px; */
    width: 100%;
    padding: 30px;
    padding-bottom: 300px;
    background-color: #f9f6f2;
    position: relative;
    /* overflow: visible; */
}

.titulo-seccion {
    font-family: var(--font-titulo);
    font-size: 5rem;
    color: var(--color-1);
    font-weight: 400;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 1), 2px 2px 1px #000000;
}

.subtitulo-seccion {
    font-family: var(--font-texto);
    font-size: 1.3rem;
    color: var(--color-1);
    font-weight: 400;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.9);
}

.itinerario-columnas-container {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin-top: 100px;
    /* border: 2px solid black; */
}

.itinerario-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* border: 2px solid green; */
    /* height: 300px; */
}

.icono-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    /* border: 2px solid orange; */
    border-radius: 10% 10% 0% 0%;
    background-color: var(--color-4);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
    /* margin-top: 500px; */
    /* box-sizing: border-box; */
}

.icono-itinerario {
    width: 100%;
    height: 100%;
    display: block;
    /* border: 2px solid red; */
}

/* .icono-ceremonia {
} */

.icono-fiesta {
    top: 0px;
    transform: scale(0.85);
    margin-top: 10px;
}

.banderin-itinerario {
    width: 300px;
    /* border: 2px solid blue; */
    position: relative;
    top: -4px;
    /* z-index: 9; */
}

.itinerario-items-container {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.itinerario-item:first-child {
    margin-top: 40px;
}

.itinerario-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid blue; */
}

.initenario-item-img {
    width: 60px;
    height: 60px;
}

.itinerario-item-texto {
    font-family: var(--font-texto);
    font-size: 1.3rem;
    color: var(--color-1);
    text-align: center;
    margin-top: 20px;
}

.itinerario-item-btn {
    border: 2px solid var(--color-1);
    color: var(--color-1);
    font-family: var(--font-texto);
    font-size: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itinerario-item-btn:hover {
    background-color: var(--color-1);
    color: #fff;
}

/* Decoradores */
.decor-der {
    right: -200px;
    bottom: 25%;
    height: 400px;
}
.decor-der-1,
.decor-der-1 {
    filter: none;
}

.decor-izq {
    height: 400px;
    left: -200px;
    z-index: 14;
}

/* ======================== */
/* RESPONSIVO */
/* ======================== */
@media screen and (max-width: 1270px) {
    .decor-der {
        height: 330px;
        right: -180px;
    }
    .decor-izq {
        height: 330px;
    }
}

@media screen and (max-width: 1024px) {
    .itinerario-columnas-container {
        flex-direction: column;
        align-items: center;
        gap: 100px;
        margin-top: 100px;
    }
    .decor-der {
        height: 400px;
        bottom: 33%;
    }
    .decor-izq {
        top: 300px;
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .section-itinerario {
        padding-bottom: 400px;
    }
    .titulo-seccion {
        font-size: 4.5rem;
    }
    .subtitulo-seccion {
        font-size: 1.2rem;
    }
    .decor-der {
        bottom: 7%;
        height: 350px;
    }
    .decor-izq {
        top: -150px;
        height: 350px;
    }
}

@media screen and (max-width: 570px) {
    .section-itinerario {
        padding-bottom: 500px;
    }
    .decor-der {
        bottom: 6%;
    }
    .decor-izq {
        height: 270px;
        left: -150px;
        top: -100px;
    }
}

@media screen and (max-width: 480px) {
    .section-itinerario {
        padding-bottom: 320px;
        padding-top: 130px;
        overflow: visible;
    }
    .decor-der {
        height: 270px;
        right: -140px;
        /* width: 350px; */
        bottom: 3%;
    }
    .decor-izq {
        height: 160px;
        left: -50px;
        top: 55px;
    }
    .titulo-seccion {
        font-size: 4rem;
    }
    .subtitulo-seccion {
        font-size: 1.1rem;
    }
    .titulo-seccion {
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 1), 1px 1px 1px #000000;
    }
    .icono-container {
        height: 150px;
        width: 150px;
    }
    .banderin-itinerario {
        width: 250px;
    }
    .itinerario-item-texto {
        font-size: 1.1rem;
    }
    .initenario-item-img {
        width: 50px;
        height: 50px;
    }
}
