:root {
    --color-1: #4a6360; /* Verde oscuro */
    --color-2: #81948b; /* Verde intermedio */
    --color-3: #c6d7cd; /* Verde claro / gris verdoso */
    --color-4: #faf7f3; /* Casi blanco */
    --color-5: #efede7; /* Beige muy claro */
    --color-6: #868686; /* Gris */
    --color-7: #bfa880; /* Dorado suave */

    --color-texto: var(--color-4); /* Texto bien claro */
    --color-fondo: var(--color-1); /* Fondo base */
    --color-overlay: rgba(0, 0, 0, 0.5); /* Para oscurecer imágenes */

    --font-titulo: "Cookie", cursive;
    --font-texto: "Open Sans", sans-serif;

    --tam-h1: 8rem;
    --tam-h2: 1.6rem;
    --tam-h3: 1.6rem;

    --espacio-seccion: 80px;
}

body {
    margin: 0;
    font-family: var(--font-texto);
    color: var(--color-texto);
    background-color: var(--color-fondo);
    overflow-x: hidden;
}

.hero-section {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    position: relative; /* necesario para superponer cosas como el background */
}

.hero-content {
    z-index: 2;
    text-align: center;
    padding: 0 20px;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.7));
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}

.hero-container {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    padding: 0 30px;
    /* border: 2px solid blue; */
}

.hero-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    filter: grayscale(20%) brightness(0.6) contrast(70%);
    z-index: 1;
}

.fecha-linea {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}

.fecha {
    font-size: var(--tam-h2);
    font-weight: 300;
    letter-spacing: 2px;
    font-family: var(--font-texto);
    padding: 0 20px; /* separación interna izquierda/derecha */
    white-space: nowrap;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
}

.linea {
    flex: 1;
    background-color: var(--color-texto);
}

.nombres {
    font-family: var(--font-titulo);
    font-size: var(--tam-h1);
    font-weight: 400;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

.nombre-part {
    display: inline-block;
}

.amp {
    font-size: 0.5em;
    vertical-align: middle;
    margin: 0 10px;
    display: inline-block;
}

.frase-con-comillas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    max-width: 600px;
    margin: 30px auto 0;
}

.comilla-svg {
    width: 32px;
    opacity: 0.8;
}

.frase {
    font-family: var(--font-texto);
    font-size: var(--tam-h3);
    font-weight: 300;
    line-height: 1.6;
    margin: 2px 20px;
    text-align: center;
    color: var(--color-texto);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.frase-linea {
    width: 100%;
    background-color: var(--color-texto);
    margin-top: 60px;
}

.linea,
.frase-linea {
    /* background-color: var(--color-7); */
    opacity: 0.7;
    height: 0.5px;
}

/* Decoraciones */
.decor {
    position: absolute;
    pointer-events: none;
    z-index: 1;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.9));
    height: 40%;
}
.decor-left {
    top: 0;
    left: 0;
}
.decor-right {
    bottom: 0;
    right: 0;
}

/* Música */
.icono-musica {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    cursor: pointer;
}

/* Flecha */
.scroll-down-lottie {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    pointer-events: none; /* <- si no querés que se pueda hacer clic */
}

@keyframes updown {
    0%,
    100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(10px);
    }
}

/* Responsivo */
@media screen and (max-width: 768px) {
    .nombres {
        flex-direction: column;
        font-size: 6rem;
    }

    .decor {
        height: 25%;
    }

    .linea {
        width: 20%;
    }

    .fecha-linea {
        gap: 10px;
    }
}
